.card {
  display: flex;
}

h5 {
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding-left: 2%;
  width: 100%;
}

.card-btn {
  text-align: end;
  padding-right: 2%;
  padding-top: 1%;
}
