<!-- https://www.positronx.io/angular-chart-js-tutorial-with-ng2-charts-examples/ -->
<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="likesChartReady" class="row" style="text-align: center">
            <div class="col-md-12">
                <h2>Number Of Likes Per Profil</h2>
                <div class="card">
                    <div class="chart-wrapper">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="CommentsChartReady" class="row" style="text-align: center">
            <div class="col-md-12">
                <h2>Number Of Comments Per Profil</h2>
                <h4>Total Comments Numbers :{{nbComment}}</h4>
                <div class="card">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>