
<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            Tunisian Got Talent
        </a>
    </div>
    <ul *ngIf="connectedUser" class="nav responsive-nav">
        <li  routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" (click)="menuItem.openSubMenu = !menuItem.openSubMenu">
            <a (click)="navigateToPath(menuItem.path)">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            <div *ngIf="menuItem.openSubMenu">
                <ul routerLinkActive="active" *ngFor="let child of menuItem.child" class="{{child.class}}">
                    <a  [routerLink]="[child.path]">
                        <i class="{{child.icon}}"></i>
                        <p>{{child.title}}</p>
                    </a>
                </ul>
            </div>
            
        </li>
    </ul>
</div>
